body {
  text-align: right;
  font-family: "Times New Roman", Times, serif;
  color: white;
  background-image: url(1.png);
  position: fixed;
  right: 15%;
  top: 50px;
  width: 25vw;
}

body a {
  color: rgb(193, 193, 193);
}

body a:hover {
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
  text-decoration: none;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: bold;
  font-size: 80;
}
